*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
      font-family:serif;
    font-size: 18px;
}

h1,h2{
    color: #008b00;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

h2{
    font-size: 25px;
    margin-bottom: 10px;
}

.main-text{
     text-align: justify;
    margin-bottom: 20px;
}

#author-text{
    font-size: 21px;
}